@charset "UTF-8";
/*=============== layout ==============*/
body {
  /*background: url("../images/estante2.svg") no-repeat;*/
  background: url("../images/livros.jpg");
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden; 
}

html, body {
  height: 100%;
}

/* -- Barra de Navegação -- */

.navbar-inverse .navbar-nav>li>a, footer .nav a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav li a:hover, footer .nav a:hover {
  color: #9bf0e1;
  background: none;
}

/* -- Imagem de Capa -- */
.capa {
  margin-top: 0%;
  padding: 40px 0px;
  display: table;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.texto-capa {
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  height: 30% !important;
}

.texto-principal{
  font-family: 'Comfortaa';
  font-size: 100px;
  /*color: #2196F3;*/
  /*text-transform: uppercase;*/
}

/*.texto-secundario{
  font-size: 40px;
  color: white;

}*/

@media only screen and (max-width: 1100px){
  .texto-principal{
    font-size: 95px;
  }
  .texto-secundario{
    font-size: 60px;
  }

}

@media only screen and (max-width: 1000px){
  .texto-principal{
    font-size: 90px;
  }
  .texto-secundario{
    font-size: 55px;
  }

}

@media only screen and (max-width: 767px){
  .texto-principal{
    font-size: 85px;
  }
  .texto-secundario{
    font-size: 35px;
  }

}

@media only screen and (max-width: 650px){
  .texto-principal{
    font-size: 75px;
  }
  .texto-secundario{
    font-size: 40px;
  }

}

@media only screen and (max-width: 400px){
  .texto-principal{
    font-size: 70.5px;
  }
  .texto-secundario{
    font-size: 35px;
  }

}

@media only screen and (max-width: 380px){
  .texto-principal{
    font-size: 65px;
  }
  .texto-secundario{
    font-size: 35px;
  }

}

@media only screen and (max-width: 375px){
  .texto-principal{
    font-size: 62.5px;
  }
  .texto-secundario{
    font-size: 35px;
  }

}

@media only screen and (max-width: 360px){
  .texto-principal{
    font-size: 60px;
  }
  .texto-secundario{
    font-size: 35px;
  }

}

@media only screen and (max-width: 320px){
  .texto-principal{
    font-size: 50px;
  }
  .texto-secundario{
    font-size: 35px;
  }

}


/* -- Botões -- */
.btn-custom {
  transition: background 0.4s, color 0.4s;
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  padding: 10px 35px;
  margin: 0px 15px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px){
  .btn-custom{
    padding: 10px 35px;
    margin: 0px 0px;
  }
}
.btn-azul {
  background: #5383ff;
}

.btn-azul:hover {
  background: #0044d0;
  color: white;
}


/* Seção Pesquisar */

#pesquisar{
  background: white;
  padding: 40px;
  text-align: center;
}

/* -- seção explicando -- */
#explicando{
  text-align: center;
  align-items: center;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px ;

}

#explicando img{
  width: 200px;
}


/* -- seção comentarios -- */
#comentario{
  padding-top: 20px;
  padding-bottom: 20px ;
  text-align: center;
  align-items: center;
}

/* -- Imagem de Capa -- */
footer{
  background: #222222;
  padding: 80px 0px 40px 0px;
  position: relative;
}

footer .centraliza{
  width: 100%;
}
/*============== Tipografia ============*/
h1 {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
}

h2{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.04em
}

h3{
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.04em
}

#explicando p{
  font-size: 30px;
  font-weight: 400;
}

#comentario .col-12 p{
  font-size: 30px;
  font-weight: 400;
}

#comentario h2, #comentario .col-12 p{
  color:/* #2196F3*/ #fff;
}
/*# sourceMappingURL=estilo.css.map */
