.icone{
    width: 35px;
    height: 35px;
}

#editar_email{
	display: none;
}

#editar_senha{
	display: none;
}

#editar_nome{
	display: none;
}

#editar_username{
	display: none;
}

#editar_curso{
	display: none;
}

#editar_periodo{
	display: none;
}