<!DOCTYPE html>
</html>
    <head>
        <meta charset="utf-8">
        <title>Email</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <style>
            .vermelho{
                color:darkred;
            }
        </style>
        <div class="text-center">
            <h1 aligm="center">Suporte Compleaks Team</h1>
            <h2 aligm="center">E-mail de recuperação de senha</h2>
            <br>
            <p>Para resetar sua senha, segue o link abixo:</p>
                <a href="{{ link }}">Clique aqui para resetar sua senha</a>
            <br>
            <br>
            <p class="vermelho">Se você não solicitou esta modificação, apenas ignore esse email e nenhuma mudança será feita.</p>
            <br>
            <br>
        </div>
        <div>
            <p for="text">Desenvolvido por:</p>
            <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
            <label for="text">© 2019-2019 Compleaks. Todos os direitos reservados</label>
        </div>
    </body>
</html>