
*.pyc
*.pyc
*.pyc
*.pyc
Compleaks/compleaks/arquivos/__pycache__/__init__.cpython-37.pyc
Compleaks/compleaks/arquivos/__pycache__/forms.cpython-37.pyc
Compleaks/compleaks/arquivos/__pycache__/views.cpython-37.pyc
Compleaks/compleaks/arquivos/__pycache__/views.cpython-37.pyc
