{% extends "base.html" %}

{% block title %}Listar disciplina{% endblock %}

{% block content %}
  <!--CONFIGURAÇÃO PARA ADMINISTRADOR-->
  {% if current_user.is_admin %}

    <div>
        <form class="form-group" action="{{ url_for('disciplinas.buscar') }}" method="POST">
            <div class="page-header" style="margin-bottom: 30px;">
                <h1>Buscar disciplina</h1>
                <hr/>
            </div>
            {{ form_buscar.hidden_tag() }}
            <!-- Material outline input with prefix-->
            <div class="md-form md-outline">
                {{form_buscar.nome(id="inputIconEx1", class="form-control")}}
                <label for="inputIconEx1">Nome da disciplina</label>
                <small id="emailHelp2" class="form-text text-muted">Deixe vazio e pressione enter para mostrar todas.</small>
            </div>
            
            {{ form_buscar.submit(class="btn btn-primary") }}
                        
        </form>
    </div>

    <br>

    {% if busca %}
        {% if existe_disciplina %}
        {% else %}
            <h2>Sem resultados para busca</h2>
            <br>
        {% endif %}
    {% endif %}
            
    <table class="table" >
        <h2>Disciplinas</h2>
        <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              
              <th>Ação</th>
            </tr>
        </thead>

        {% for disciplina in disciplinadb %}
            <tbody>
                <tr>
                    {% if not disciplina.ativado %}
                        <article color="red">
                            <td>{{ disciplina.id }}</td>
                            <td>{{ disciplina.nome }}</td>
                            <td><button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#redefinir{{disciplina.id}}" >Redefinir</button></td>
                        </article>
                    {% else %}
                        <td>{{ disciplina.id }}</td>
                        <td>{{ disciplina.nome }}</td>
                        <td>                                
                            <a data-dismiss="modal" data-toggle="modal" data-target="#editar{{disciplina.id}}"><img class="img-responsive delete" data-toggle="tooltip" data-placement="top" title="Editar" src="{{url_for('static', filename='images/icones/padrao/editar.svg')}}" alt="Editar"/></a>
                            <a data-dismiss="modal" data-toggle="modal" data-target="#excluir{{disciplina.id}}"><img class="img-responsive delete icone" data-toggle="tooltip" data-placement="top" title="Excluir" src="{{url_for('static', filename='images/icones/padrao/delete_arquivo.svg')}}" alt="Excluir"/></a>
                        </td>
                    {% endif %}
                </tr>
            </tbody>

            <!--REDEFINIR DISCIPLINA-->
            <div class="modal fade" tabindex="-1" role="dialog" id="redefinir{{disciplina.id}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Redefinir disciplina?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Você tem certeza que deseja redefinir essa disciplina?</p>
                            <br/>
                            <h6 class="modal-title">Dados de Cadastro</h6>
                            <p>  Nome: {{ disciplina.nome }} </p>
                            <br/>
                            <h6 class="modal-title">Dados de Exclusão</h6>
                            <p> Id do usuário que excluiu: {{ disciplina.id_deletor }} </p>
                            {% if disciplina.motivo_delete %}
                                <p> Motivo da Exclusão: {{ disciplina.motivo_delete }} </p>
                            {% else %}
                                <p> Nenhum motivo de Exclusão Cadastrado </p>
                            {% endif %}
                            <br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                            <form id="id_form" action="{{ url_for('disciplinas.redefinir', disc_id=disciplina.id) }} " method="POST">
                                <input type="submit" value="Redefinir" for="#id_form">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--EDITAR DISCIPLINA-->
            <div class="modal fade" tabindex="-1" role="dialog" id="editar{{disciplina.id}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar disciplina?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ url_for('disciplinas.editar', disc_id=disciplina.id) }}" method="POST">
                            <div class="modal-body">
                                <p>Você tem certeza que deseja editar essa disciplina?</p>
                                <h6 class="modal-title">Dados de Cadastro</h6>
                                <p>Nome: {{ disciplina.nome }} </p>
                                <br>
                                {{ form_editar.hidden_tag() }}
                                {{form_editar.novo_nome.label}}
                                {{form_editar.novo_nome(class="form-control", value=disciplina.nome )}}
                              </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                {{ form_editar.submit()}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!--EXCLUIR DISCIPLINA-->
            <div class="modal fade" tabindex="-1" role="dialog" id="excluir{{disciplina.id}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Excluir disciplina?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ url_for('disciplinas.excluir', disc_id=disciplina.id) }}" method="POST">
                            <div class="modal-body">
                                <p>Você tem certeza que deseja excluir essa disciplina?</p>
                                <h6 class="modal-title">Dados de Cadastro</h6>
                                <p>  Nome: {{ disciplina.nome }} </p>
                                <br>
                                <h6 class="modal-title">Motivo da exclusão</h6>
                                
                                {{ form_excluir.hidden_tag() }}
                                {{ form_excluir.motivo.label}}
                                {{ form_excluir.motivo(class="form-control", placeholder="Digite o motivo aqui") }}
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                {{ form_excluir.submit() }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        {% endfor %}

    </table>

    <!--CONFIGURAÇÃO PARA USUARIOS-->
    {% else %}
    <div>
        <form class="form-group" action="{{ url_for('disciplinas.buscar') }}" method="POST">
            <div class="page-header" style="margin-bottom: 30px;">
                <h1>Buscar disciplina</h1>
                <hr/>
            </div>
            {{ form_buscar.hidden_tag() }}
            <!-- Material outline input with prefix-->
            <div class="md-form md-outline">
                {{form_buscar.nome(id="inputIconEx1", class="form-control")}}
                <label for="inputIconEx1">Nome da disciplina</label>
                <small id="emailHelp2" class="form-text text-muted">Deixe vazio e pressione enter para mostrar todas.</small>
            </div>
            
            {{ form_buscar.submit(class="btn btn-primary") }}
                        
        </form>
    </div>

    <br>

    {% if busca %}
        {% if existe_disciplina %}
        {% else %}
            <h2>Sem resultados para busca</h2>
            <br>
        {% endif %}
    {% endif %}

    <table class="table" >
        <thead>
            <tr>
                <th>Nome</th>
                {% if current_user.is_authenticated %}
                <th>Ação</th>
                {% endif %}
            </tr>
        </thead>
        
        {% for disciplina in disciplinadb %}
            {% if disciplina.ativado %}
                <tbody>
                    <tr>
                        <td>{{ disciplina.nome }}</td>
                        {% if current_user.is_authenticated %}
                            {% if current_user.id == disciplina.id_criador %}
                            <td>
                                <a data-dismiss="modal" data-toggle="modal" data-target="#editar{{disciplina.id}}"><img class="img-responsive delete" data-toggle="tooltip" data-placement="top" title="Editar" src="{{url_for('static', filename='images/icones/padrao/editar.svg')}}" alt="Editar"/></a>
                            <a data-dismiss="modal" data-toggle="modal" data-target="#excluir{{disciplina.id}}"><img class="img-responsive delete icone" data-toggle="tooltip" data-placement="top" title="Excluir" src="{{url_for('static', filename='images/icones/padrao/delete_arquivo.svg')}}" alt="Excluir"/></a>
                            </td>
                            {% else %}
                            <td>Nenhuma</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                </tbody>
            {% endif %}

            {% if disciplina.ativado %}
                
                <!--EDITAR DISCIPLINA-->
                <div class="modal fade" tabindex="-1" role="dialog" id="editar{{disciplina.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Editar disciplina?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ url_for('disciplinas.editar', disc_id=disciplina.id) }}" method="POST">
                                <div class="modal-body">
                                    <p>Você tem certeza que deseja editar essa disciplina?</p>
                                    <h6 class="modal-title">Dados de Cadastro</h6>
                                    <p>Nome: {{ disciplina.nome }} </p>
                                    <br>
                                    {{ form_editar.hidden_tag() }}
                                    {{form_editar.novo_nome.label}}
                                    {{form_editar.novo_nome(class="input-group input-group-text", value=disciplina.nome )}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    {{ form_editar.submit(class="btn btn-danger") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!--EXCLUIR DISCIPLINA-->
                <div class="modal fade" tabindex="-1" role="dialog" id="excluir{{disciplina.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Excluir disciplina?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ url_for('disciplinas.excluir', disc_id=disciplina.id) }}" method="POST">
                                <div class="modal-body">
                                    <p>Você tem certeza que deseja excluir essa disciplina?</p>
                                    <h6 class="modal-title">Dados de Cadastro</h6>
                                    <p>  Nome: {{ disciplina.nome }} </p>
                                    <br>
                                    <h6 class="modal-title">Motivo da exclusão</h6>
                                    
                                    {{ form_excluir.hidden_tag() }}
                                    {{ form_excluir.motivo.label }}
                                    {{ form_excluir.motivo(class="form-control", placeholder="Digite o motivo aqui")}}
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    {{ form_excluir.submit(class="btn btn-danger") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    </table>
  {% endif %}
{% endblock %}
