{% extends "base.html" %}

{% block title %}Listar disciplina{% endblock %}

{% block content %}

    <ul>
        {% if existe_disciplina %}    
            {% for disciplina in disciplinas %}
            <li>
                {% if not disciplina.is_eligible %}
                    <article color="red">{{ disciplina }}</article>
                {% else %}
                    {{ disciplina }}
                {% endif %}   
                
                {% if not disciplina.is_eligible %}

                <div class="modal" tabindex="-1" role="dialog" id="red_confirm{{disciplina.id}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Redefinir disciplina?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Você tem certeza que deja redefinir essa disciplina?</p>
                                <br/>
                                <h6 class="modal-title">Dados de Cadastro</h6>
                                <p>  Nome: {{ disciplina.nome }} </p>
                                <p> Data de Registro: {{disciplina.data_criacao.strftime('%B %d, %Y') }} </p>
                                <br/>
                                <br/>
                                <h6 class="modal-title">Dados de Exclusão</h6>
                                <p> Data de Exclusão: {{user.data_deletado.strftime('%B %d, %Y') }} </p>
                                <p> Id do usuário que excluiu: {{user.id_deletor}} </p>
                                {% if user.motivo_delete is not None %}
                                    <p> Motivo da Exclusão: {{disciplina.motivo_delete}} </p>
                                {% else %}
                                    <p> Nenhum metivo de Exclusão Cadastrado </p>
                                {% endif %}
                                <br/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    
                                <form action="{{ url_for('disciplina.redefinir', disc_id=disciplina.id) }} " method="POST">
                                    <input type="submit" value="Redefinir" class="btn btn-danger">
                                </form>
                            </div>
                            </div>
                        </div>
                    </div> 
                    <ul>
                        <li><button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#red_confirm{{disciplina.id}}" >Redefinir</button></li>
                    </ul>
                {% endif %}
            </li>    
            {% endfor %}
        {% else %}
            <li>Não existe a disciplina</li>
        {% endif %}
    </ul>

{% endblock %}