{% extends "base.html" %}

{% block title %}Listar disciplina{% endblock %}

{% block content %}

    {% if existe_disciplina %}
    <table class="table" >
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        {% for disciplina in disciplinas %}
            <tbody>
                <tr>
                    <td>{{ disciplina.nome }}</td>
                </tr>
            </tbody>

        {% endfor %}
        </table>
    {% else %}
        <h3>Não existe a disciplina</h3>
    {% endif %}

{% endblock %}
