{% extends "base.html" %}
{% block title %} Todos os usuários {% endblock %}
{% block content %}
{% if current_user.is_admin %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Info</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
        {% for letter in letters.items %}
            <tr>
                <div class="modal" tabindex="-1" role="dialog" id="confirm-del{{letter.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Deletar Letter?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Você tem certeza que deja deletar esse Letter?</p>
                        </div>
                        <div class="modal-footer">
                            <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>                 
                            <a data-toggle="tooltip" data-placement="top" title="Deletar Permanentemente" href="{{ url_for('newsletters.deletar', id=letter.id) }} "> <i class="far fa-trash-alt deletar"></i> </a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="confirm{{letter.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informações do letter</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Data em que foi postado: {{letter.data_criacao.strftime('%B %d, %Y')}}</p>
                            {% if letter.last_send %}
                                <p>Última vez que foi enviado: {{letter.last_send.strftime('%B %d, %Y')}}</p>
                            {% endif %}
                            <br/>
                        </div>
                        <div class="modal-footer">

                            <a href="{{ url_for('newsletters.testar', id=letter.id) }}"><input  value="Testar" class="btn btn-warning"></a>
                            
                        
                            <a href="{{ url_for('newsletters.enviar', id=letter.id) }}"><input  value="ENVIAR PARA TODOS" class="btn btn-success"></a>
                        
                            
                        </div>
                        </div>
                    </div>
                </div> 

                
                <td> {{letter.title}} </td>
                <td><a href="#" data-toggle="modal" data-target="#confirm{{letter.id}}" class="card-link"><i class="fas fa-info-circle info" data-toggle="tooltip" data-placement="bottom" title="Mais Informações"></i></a></td>
                <td><a href="{{url_for('newsletters.editar', id=letter.id)}}" class="card-link" ><i class="fas fa-edit" style="font-size: 30px" data-toggle="tooltip" data-placement="bottom" title="Editar"></i></a></td>
                <td><a data-toggle="modal" data-target="#confirm-del{{letter.id}}" class="card-link" ><i class="fas fa-ban"  style="font-size: 30px" data-toggle="tooltip" data-placement="bottom" title="Deletar"></i></a></td>

            
            </tr>
        {% endfor %}
        
    </tbody>
  </table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in letters.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if letters.page == page_num and page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('newsletters.listar', page=page_num) }}">{{ page_num }}</a></li>
                </li>
            {% elif page_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('newsletters.listar', page=page_num) }}">{{ page_num }}</a></li>
                </li>
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}   
{% endblock %}