{% extends "base.html" %}

{% block title %}NewsLetters{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Adicionar Newsletter</h1>
        <hr/>
    </div>

      
    <form action="" class="form-group" method="POST" style="margin-top: 50px;"  enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- Material outline input with prefix-->
        <div class="md-form md-outline">
            <i class="fas fa-book-open prefix"></i>
            {{ form.titulo(id="inputIconEx1", class="form-control") }}
            <label for="inputIconEx1">Titulo do latter</label>
            <br/>
            <br/>
            Arquivo .html:
            {{ form.html(class="form-control" ) }}
            {% if form.errors.html %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.errors.html %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <br/>
            <br/>
            <br/>
            {{ form.front_end(class="form-control" , id="input", placeholder="Texto alternativo para provedores de e-mail que não lem HTML") }}
            {% if form.errors.front_end %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.errors.fornt_end %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
        </div>
        
        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}