{% extends "base.html" %}

{% block title %}NewsLetters{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Adicionar disciplina</h1>
        <hr/>
    </div>

      
    <form class="form-group" method="POST" style="margin-top: 50px;">
        {{ form.hidden_tag() }}
        <!-- Material outline input with prefix-->
        <div class="md-form md-outline">
            <i class="fas fa-book-open prefix"></i>
            {{ form.titulo(id="inputIconEx1", class="form-control") }}
            <label for="inputIconEx1">Titulo do latter</label>
            <br/>
            {{ form.fornt_end(class="form-control" , id="input", placeholder="Código front-end") }}
            {% if form.errors.disciplina %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.errors.fornt_end %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
        </div>
        
        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}