{% extends "base.html" %}

{% block title %}Questões Excluidas{% endblock %}

{% block content %}

<div class="container">

    <div class="page-header">
        <h2>Questões excluidas</h2>
        <hr>
    </div>

    <div class="container">
        {% for quest in questoes.items %}
            
            <a href="{{url_for('questoes.ver', id=quest.id)}}">
                <h5 class="text-info font-weight-bold">
                    Questão
                </h5>
            </a>
            <div class="row" style="height: 30px;">
                <div class="col-md-6 d-flex justify-content-start">
                    <span class="btn-success btn-sm" style="height: 30px;">
                        {{ disciplinas[quest.disciplina_id-1][1] }}
                    </span>
                    <span class="btn-success btn-sm" style="margin-left: 5px; height: 30px;">
                        {% if contador[quest.id|string] %}
                            <span>Comentarios({{contador[quest.id|string]}})</span>
                        {% else %}
                            <span>Comentarios(0)</span>
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <a href="{{url_for('questoes.redefinir', id=quest.id)}}"><button class="btn btn-link"><i class="fab fa-jedi-order"></i>Redefinir</button></a>
                    
                </div>
            </div>
            <h5 style="margin-top: 10px; margin-bottom: -2px;">
                {{ quest.enunciado }} 
            </h5>
            <div class="container" style="margin-bottom: 20px;">
                
                {% for altv in alternativas %}
                    {% if altv.questao_id==quest.id %}
                        {{ altv.conteudo }}
                        <br>
                    {% endif %}    
                {% endfor %}
    
            </div>
            <hr>
    
        {% endfor %}
    </div>
</div>
<br/>
<nav style="position: static;" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in questoes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if questoes.page == page_num and page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('questoes.excluidas') }}">{{ page_num }}</a></li>
                </li>
            {% elif page_num %}
                <li class="page-item">                    
                    <a class="page-link" href="{{ url_for('questoes.excluidas') }}">{{ page_num }}</a></li>
                </li>
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}