{% extends "base.html" %}

{% block title %}Questão{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h2>Questão</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 style="display: inline-block;">{{ quest.enunciado }}</h5> <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                aria-controls="multiCollapseExample1"><span class="badge badge-primary">Ver mais</span></a>
        </div> 
        
        <!-- Collapsible content -->
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <div class="row" id="detalhe_questao">
                            <h5>Detalhes</h5>
                            <div class="container">
                                {% for quest in questoes %}
                                    <p>Questão referente a materia de {{ disciplina.nome }}.</p>
                                    <p>Criador da questão é {{ usuario.nome }}.</p>
                                    {% if current_user.is_admin or current_user.id == quest.usuario_id %}
                                        <a class="btn-link"><i class="fas fa-edit"></i>Editar</a>
                                        <a class="btn-link" style="margin-left: 15px;"><i class="fas fa-trash-alt"></i>Excluir</a>
                                    {% endif %}
                                    <a class="btn-link" style="margin-left: 15px;"><i class="fas fa-exclamation-triangle"></i>Reportar</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Collapsible content -->
        
        <div class="container" style="margin-bottom: 20px;">   
            <form  class="form-group" method="POST" action="{{url_for('questoes.ver', id=quest.id)}}">
                {{ form_questao.hidden_tag() }}    
                {{ form_questao.radio_alternativas(style="list-style-type: none;")}}
                {{ form_questao.submit(class="btn btn-primary") }}
            </form>                   
        </div>
    </div>
    <hr>

    <div class="row">        
        <div class="col-md-12 col-lg-12 col-xl-12">
            <h5>Comentários</h5>
            <div class="container">
                <!--NOVO FOMRULARIO DE COMENTAR-->
                <div class="row">
                    <!-- Reply section (logged in user) -->
                    <section >
                        <form method="POST">
                            {{ form_comentario.hidden_tag() }}
                            <div class="d-md-flex flex-md-fill mt-4 px-1">
                                <div class="d-flex justify-content-center mr-md-5">
                                <img class="card-img-100 z-depth-1 mb-4 rounded-circle z-depth-0" src="{{url_for('static', filename='images/avatares/'+current_user.avatar)}}"
                                    alt="avatar">
                                </div>
                                <div class="form-group shadow-textarea">
                                    {{ form_comentario.conteudo(class="form-control z-depth-1", placeholder="Escreva seu comentário aqui...", id="comentario_questoes", rows="4", cols="100%") }}
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                {{ form_comentario.comentar(class="btn btn-primary") }}
                            </div>
                        </form>
                    </section>
                    <!-- Reply section (logged in user) -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {% for comment in comentarios %}
        {% for user in usuarios %}
            {% if user.id == comment.usuario_id %}
                {% if comment.respondeu_id==0 %}
                    <div class="row">
                        <!--Section: Comments-->
                        <section class="col">
                            
                            <div class="media d-block d-md-flex mt-4">
                            <img class="card-img-64 rounded-circle z-depth-1 d-flex mx-auto mb-3" src="{{url_for('static', filename='images/avatares/'+user.avatar)}}"
                                alt="Generic placeholder image">
                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                <h5 class="font-weight-bold mt-0">
                                <a class="blue-text">{{ user.nome }}</a>
                                <a class="pull-right blue-text">
                                    <i class="fas fa-reply" data-toggle="tooltip" data-placement="right" title="Responder" onclick="responder_comentario('comentario{{comment.id}}')"></i>
                                </a>
                                </h5>
                                <div class="grey-text" style="margin-left: 5px; margin-top: -20px; margin-bottom: -15px;">
                                    <div class="mb-1 navbar-expand-lg" style="position: relative; display: flex; align-items: center;">
                                        {{ comment.data_criacao.strftime('%d %b, %Y às %H:%M') }}
                                    
                                        <ul class="navbar-nav ml-auto">
                                            <li class="nav-item dropdown">
                                            <a class="nav-link" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-angle-down"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                                <button class="dropdown-item" onclick="formulario_editar_comentario('form_editar_comentario{{comment.id}}')">Editar</button>
                                                {% if current_user.is_admin or current_user.id == comment.usuario_id %}
                                                    <form method="POST">
                                                        {{ form_excluir_comentario.hidden_tag() }}
                                                        {{ form_excluir_comentario.id_comment(style="display: None;", value=comment.id) }}
                                                        {{ form_excluir_comentario.excluir(class="dropdown-item")}}
                                                    </form>
                                                {% endif %}
                                                <a class="dropdown-item" href="#">Reportar</a>
                                                
                                            </div>
                                            </li>
                                        </ul>
                                            
                                    </div>
                                </div>

                                {{ comment.conteudo | converte }}
                    
                                <!--Escrever uma resposta, a principio display é none-->
                                <!-- Quick Reply -->
                                <div class="md-form mt-4" style="display: none;" id="comentario{{comment.id}}">
                                    <section >
                                        <form method="POST">
                                            <div class="d-md-flex flex-md-fill mt-4 px-1">
                                                {{ form_responde_comentario.hidden_tag() }}
                                                <div class="d-flex justify-content-center mr-md-5">
                                                <img class="card-img-100 z-depth-1 mb-4 rounded-circle z-depth-0" src="{{url_for('static', filename='images/avatares/'+user.avatar)}}"
                                                    alt="avatar">
                                                </div>
                                                <div class="form-group shadow-textarea">
                                                    {{ form_responde_comentario.conteudo(class="form-control z-depth-1", placeholder="Escreva seu comentário aqui...", id="responder_comentario{{comment.id}}", rows="4", cols="100%") }}
                                                </div>
                                                {{ form_responde_comentario.respondeu_id(value=comment.id, style="display: none;") }}
                                            </div>
                                            <div class="text-center mt-4">
                                                <button type="button" class="btn btn-default" onclick="responder_comentario('comentario{{comment.id}}')">Cancelar</button>
                                                
                                                {{ form_responde_comentario.submit(class="btn btn-primary") }}
                                            </div>
                                        </form>
                                    </section>
                                </div>
                                <script>
                                    CKEDITOR.replace( 'responder_comentario{{comment.id}}', { width: "60vw", height: 'auto'} );
                                </script>
                                {% for resposta in comentarios %}
                                    {% if resposta.respondeu_id == comment.id %}
                                        {% for userRespond in usuarios %}
                                            {% if userRespond.id == resposta.usuario_id %}
                                                <!--Se ouver respostas no comentario, manda um for aqui-->
                                                <blockquote class=" blockquote mb-0 media d-block d-md-flex mt-4">
                                                <img class="card-img-64 rounded-circle z-depth-1 d-flex mx-auto mb-3" src="{{url_for('static', filename='images/avatares/'+userRespond.avatar)}}"
                                                    alt="Generic placeholder image">
                                                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                                    <h5 class="font-weight-bold mt-0">
                                                    <a class="blue-text">{{ userRespond.nome }}</a>
                                                    </h5>
                                                    <div class="grey-text" style="margin-left: 5px; margin-top: -20px; margin-bottom: -15px; font-size: 15px;">
                                                        <div class="mb-1 navbar-expand-lg" style="position: relative; display: flex; align-items: center;">
                                                            {{ resposta.data_criacao.strftime('%d %b, %Y às %H:%M') }}
                                                        
                                                            <ul class="navbar-nav ml-auto">
                                                                <li class="nav-item dropdown">
                                                                <a class="nav-link" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <i class="fas fa-angle-down"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                                                    <button class="dropdown-item" onclick="formulario_editar_comentario('form_editar_comentario{{comment.id}}')">Editar</button>
                                                                    {% if current_user.is_admin or current_user.id == resposta.usuario_id %}
                                                                        <form method="POST">
                                                                            {{ form_excluir_comentario.hidden_tag() }}
                                                                            {{ form_excluir_comentario.id_comment(style="display: None;", value=resposta.id) }}
                                                                            {{ form_excluir_comentario.excluir(class="dropdown-item")}}
                                                                        </form>
                                                                    {% endif %}
                                                                    <a class="dropdown-item" href="#">Reportar</a>
                                                                    
                                                                </div>
                                                                </li>
                                                            </ul>
                                                                
                                                        </div>
                                                    </div>
                                                    {{ resposta.conteudo | converte }}
                                                </div>
                                                </blockquote>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                        
                        </section>
                    </div>
                {% endif %}   
            {% endif %}
        {% endfor %}
    {% endfor %}    
    </div>            

</div>
{% endblock %}