{% extends "base.html" %}

{% block title %}Questão{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h2>Questão</h2>
        <hr>
    </div>
    {% for quest in questoes %}
        <h4>{{ quest.enunciado }}</h4>
        <div class="container" style="margin-bottom: 20px;">   
            <form  class="form-group" method="POST" action="{{url_for('questoes.ver', id=quest.id)}}">
                {{ form_questao.hidden_tag() }}    
                {{ form_questao.radio_alternativas()}}
                {{ form_questao.submit(class="btn btn-primary") }}
            </form>                   
        </div>
    {% endfor %}
    <hr>
    <div class="row">
        
        <div class="col-md-6">
            <h5>Comentarios</h5>
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <ul class="navbar-nav ml-auto nav-flex-icons">
                            <li class="nav-item avatar">
                                <a class="nav-link p-0" href="">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-11">
                        <strong>Nome do usuario</strong>
                        <p>Comentario do usuario. Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <ul class="navbar-nav ml-auto nav-flex-icons">
                            <li class="nav-item avatar">
                                <a class="nav-link p-0" href="">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-11">
                        <strong>Nome do usuario</strong>
                        <p>Comentario do usuario. Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-md-6">
            <h5>Detalhes</h5>
            <div class="container">
                <p>Questão referente a materia de {{ disciplina.nome }}.</p>
                <p>Criador da questão é {{ usuario.nome }}.</p>
                {% if current_user.is_admin or current_user.id == quest.usuario_id %}
                    <a class="btn-link"><i class="fas fa-edit"></i>Editar</a>
                    <a class="btn-link" style="margin-left: 15px;"><i class="fas fa-trash-alt"></i>Excluir</a>
                {% endif %}
                <a class="btn-link" style="margin-left: 15px;"><i class="fas fa-exclamation-triangle"></i>Reportar</a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}