{% extends "base.html" %}

{% block title %}Questão{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h2>Questão</h2>
        <hr>
    </div>
    {% for quest in questoes %}
        <h4>{{ quest.enunciado }}</h4>
        <div class="container" style="margin-bottom: 20px;">   
            <form  class="form-group" method="POST" action="{{url_for('questoes.ver', id=quest.id)}}">
                {{ form_questao.hidden_tag() }}    
                {{ form_questao.radio_alternativas()}}
                {{ form_questao.submit(class="btn btn-primary") }}
            </form>                   
        </div>
    {% endfor %}
    <hr>
    <div class="row">
        
        <div class="col-md-6">
            <h5>Comentarios</h5>
            <div class="container">
                <div class="row">
                    <div class="media">
                        <div class="media mt-3 shadow-textarea">
                            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
                                alt="Generic placeholder image" height="50">
                            <div class="media-body">
                                <h5 class="mt-0 font-weight-bold blue-text">Carlos Henrique</h5>
                                <div class="form-group basic-textarea rounded-corners">
                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea3" style="width: 400px;" rows="3" placeholder="Escreva seu comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
                            alt="Avatar" height="50">
                        <div class="media-body">
                            <h5 class="mt-0 font-weight-bold blue-text">Danny Tatuum</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                            alt="Avatar" height="50">
                        <div class="media-body">
                            <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-md-6">
            <h5>Detalhes</h5>
            <div class="container">
                <p>Questão referente a materia de {{ disciplina.nome }}.</p>
                <p>Criador da questão é {{ usuario.nome }}.</p>
                {% if current_user.is_admin or current_user.id == quest.usuario_id %}
                    <a class="btn-link"><i class="fas fa-edit"></i>Editar</a>
                    <a class="btn-link" style="margin-left: 15px;"><i class="fas fa-trash-alt"></i>Excluir</a>
                {% endif %}
                <a class="btn-link" style="margin-left: 15px;"><i class="fas fa-exclamation-triangle"></i>Reportar</a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}