<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Boas Vindas Mail</title>
</head>
<body>
	<div class="email-background" style="background: #b2b2ff;padding: 10px;">
		<div class="email-container" style="max-width: 500px;background: white;font-family: sans-serif;margin: 0 auto;overflow: hidden;border-radius: 5px;text-align: center;">
			<h1>Bem Vindo ao Compleaks</h1>
			<h1>{{user.username}}</h1>

			<img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Logo Compleaks" style="max-width: 100%;">
			
			<p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">Agora você faz parte da maior comunidade de estudantes da UFMG</p>
			
			<div class="cta" style="margin: 20px;">
				<a href="#" style="text-decoration: none;display: inline-block;background: #3D87f5;color: white;padding: 10px 20px 10px;border-radius: 5px;">Entre Agora</a>
      </div>
      <br>
      <h2>Aqui você vai desfrutar de:</h2>
			<p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">A maior comunidade De Alunos da UFMG</p>
			<hr>
					<p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">A maior quantidade de material de apoio 100% gratuito</p>
			<hr>
					<p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">Feito por alunos para alunos</p>
			<hr>
					<p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">Aqui você pode encontra a ajuda necessária nas seus estudos</p>
			<hr>
					<p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">Se intere sobre os professores pela visão dos alunos</p>
		</div>
	</div>
	<p style="font-size: 8px;">Menssagem automática, favor não responder!</p>
</body>
</html>