<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Compleaks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/stilosa.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.2.1/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Compleaks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('principal.index')}}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Arquivos
                     </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('arquivos.listar')}}">Listar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('arquivos.buscar')}}">Buscar</a>
                        <div class="dropdown-divider"></div>
                        {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{url_for('arquivos.adicionar')}}">Adicionar</a>    
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Disciplinas
                     </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('disciplinas.buscar')}}">Buscar</a>
                        <a class="dropdown-item" href="{{url_for('disciplinas.listar')}}">Listar</a>
                        <div class="dropdown-divider"></div>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                            <a class="dropdown-item" href="{{url_for('disciplinas.adicionar')}}">Adicionar</a>
                            <a class="dropdown-item" href="{{url_for('disciplinas.editar')}}">Editar</a>
                            <a class="dropdown-item" href="{{url_for('disciplinas.excluir')}}">Excluir</a>
                        {% endif %}    
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Professores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('professores.listar')}}">Listar</a>
                        <a class="dropdown-item" href="{{url_for('professores.buscar')}}">Buscar</a>
                        <div class="dropdown-divider"></div>
                        {% if current_user.is_authenticated or current_user.is_admin %}
                            <a class="dropdown-item" href="{{url_for('professores.adicionar')}}">Adicionar</a>
                            {% if current_user.is_admin %}
                                <a class="dropdown-item" href="{{url_for('professores.editar')}}">Editar</a>
                                <a class="dropdown-item" href="{{url_for('professores.excluir')}}">Excluir</a>
                            {% endif %}
                        {% endif %}    

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Usuários
                     </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if not current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{url_for('usuarios.adicionar')}}">Cadastrar-se</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{url_for('usuarios.troca')}}">Editar</a>
                            {% if current_user.is_admin %}
                                <a class="dropdown-item" href="{{url_for('usuarios.listar')}}">Listar</a>
                                <a class="dropdown-item" href="{{url_for('usuarios.buscar')}}">Buscar</a>
                            {% endif %}    
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        {% if not current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{url_for('usuarios.login')}}">Login</a>
                        {% else %}
                            <a class="dropdown-item" href="{{url_for('usuarios.logout')}}">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% block divisao %}
        <div class="jumbotron">
    {% endblock %}
        {% for mensagem in get_flashed_messages()  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{mensagem}}
            </div>
        {% endfor %}
        {% block content %}

        {% endblock %} 
    </div>


<footer>
    <div>
        <p for="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
    </div>
</footer>

</body>
</html>
