{% extends "base.html" %}

{% block title %}Página inicial{% endblock %}

{% block content %}

<section>
  <h1>Seja bem-vindo ao Compleaks</h1>
  <p>Eu caminhei sozinho pela rua <br>
Falei com as estrelas e com a lua <br>
Deitei no banco da praça <br>
Tentando te esquecer <br>
Adormeci e sonhei com você <br>
No sonho, você veio provocante <br>
Me deu um beijo doce e me abraçou <br>
E bem na hora "H" no ponto alto do amor <br>
Já era dia, o guarda me acordou <br>
Seu guarda, eu não sou vagabundo <br>
Eu não sou delinquente, sou um cara carente <br>
Eu dormi na praça, pensando nela <br>
Seu guarda, seja me amigo <br>
Me bata, me prenda, faça tudo comigo
Mas não me deixe, ficar sem ela
No sonho, você veio provocante
Me deu um beijo doce e me abraçou
E bem na hora "H" no ponto alto do amor
Já era dia, o guarda me acordou
Seu guarda, eu não sou vagabundo
Eu não sou delinquente, sou um cara carente
Eu dormi na praça, pensando nela
Seu guarda, seja me amigo
Me bata, me prenda, faça tudo comigo
Mas não me deixe, ficar sem ela</p>
</section>    



{% endblock %}
