{% extends "base.html" %}

{% block title %}Página inicial{% endblock %}

{% block divisao %}<div >{% endblock %}

{% block content %}
<!--
<h1 class="text-center logotipo text-primary">Compleaks</h1>
<button type="button" class="leed-button btn btn-info">Entrar Agora</button>-->
<img class="imagem-fundo img-fluid " src="{{url_for('static',filename='images/Escolar.jpg')}}" alt="">
or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        v
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        <a href="http://ijunior.com.br/site/">UFMG Informática Jr</a><br>
        <label for="text">© 2019 Compleaks. Todos os direitos reservados</label>
        or="text">Desenvolvido por:</p>
        

       
       	 	

{% endblock %}
