{% macro render_stars(arquivo, dist, current_user) %}
	<p>   
	    {% if arquivo.avaliado %}
	        <div id="atual1-{{arquivo.id}}">
	            {%for avl in arquivo.avaliacoes %} 
	                {%if avl in current_user.avaliacoes%}
	                    {% for i in dist %}
	                        {% if avl.nota >= (i)%}
	                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
	                        {% else %}
	                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
	                        {% endif %}
	                    {% endfor %}    
	                {% endif %}
	            {% endfor %} 
	            <small>({{arquivo.nota_decimal}})</small> 
	        </div>
	    {% else %}
	        <div id="atual2-{{arquivo.id}}">
	            {% for i in dist %}

	                {% if not arquivo.nota %}
	                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
	                {% elif arquivo.nota >= (i)%}
	                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
	                {% else %}
	                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
	                {% endif %}
	            {% endfor %}
	            <small>({{arquivo.nota_decimal}})</small>
	        </div>
	    {% endif %}
	    
	</p>
{% endmacro %}

















{% macro render_stars_2(arquivo, dist, current_user) %}
	<p>
	    {% if arquivo.avaliado %}
	    
	        <div id="atual3-{{arquivo.id}}">
	            <i class="far fa-trash-alt"  onclick="pontua({{arquivo.id}},0);" ></i>
	            {%for avl in arquivo.avaliacoes %} 
	                {%if avl in current_user.avaliacoes%}
	                    {% for i in dist %}
	                        {% if avl.nota >= (i)%}
	                            <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star2-{{arquivo.id}}" name="star"></ion-icon></label>
	                        {% else %}
	                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
	                        {% endif %}
	                    {% endfor %}    
	                {% endif %}
	            {% endfor %} 
	            <small>({{arquivo.nota_decimal}})</small> 
	        </div>
	    {% else %}
	        <div id="atual4-{{arquivo.id}}">
	            <i class="far fa-trash-alt"  onclick="pontua({{arquivo.id}},0);" ></i>
	            {% for i in dist %}

	                {% if not arquivo.nota %}
	                    <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},0);" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
	                {% elif arquivo.nota >= (i)%}
	                    <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star"></ion-icon></label>
	                {% else %}
	                    <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
	                {% endif %}
	            {% endfor %}
	            <small>({{arquivo.nota_decimal}})</small>
	        </div>
	    {% endif %}
	</p>
{% endmacro %}













{% macro content(arquivo) %}
	<h4 class="modal-title">Observações do usuário:</h5>
    <h5><p class="text-center">{{ arquivo.observacao }}</p></h6>
    <br/>

    <h5 class="modal-title">Referências:</h5>
    <p>Usuáario que postou: <a href="{{url_for('usuarios.perfil', user_id=arquivo.author.id)}}"> {{ arquivo.author.username }}</a></p>
    {% if arquivo.professor_id %}
        <p>Professor de referência: <a href="{{url_for('professores.perfil', id=arquivo.professor.id )}}"> {{ arquivo.professor.nome }}</a></p>
    {% else %}
        <p>Nenhum prefessor relacionado a este arquivo</p>
    {% endif %}
    <p>Disciplina de referência: <a href="{{url_for('disciplinas.perfil', id=arquivo.disciplina.id )}}">{{ arquivo.disciplina.nome }} </a></p>
    <p>Ano de referência: {{ arquivo.ano }}</p>
    <p>Semestre de referência: {{ arquivo.ano }}</p>
    <br/>

    <h5 class="modal-title">Sobre o Arquivo:</h5>
    <br/>
{% endmacro %}









{% macro render_stars_normal_2(arquivo, dist, current_user) %}
	<p>
    {%if current_user.is_authenticated%}
        {% if arquivo.avaliado %}

            <div id="atual3-{{arquivo.id}}">
                <i class="far fa-trash-alt"  onclick="pontua({{arquivo.id}},0);" ></i>
                {%for avl in arquivo.avaliacoes %} 
                    {%if avl in current_user.avaliacoes%}
                        {% for i in dist %}
                            {% if avl.nota >= (i)%}
                                <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star2-{{arquivo.id}}" name="star"></ion-icon></label>
                            {% else %}
                                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                            {% endif %}
                        {% endfor %}    
                    {% endif %}
                {% endfor %} 
                <small>({{arquivo.nota_decimal}})</small> 
            </div>
        {% else %}
            <div id="atual4-{{arquivo.id}}">
                <i class="far fa-trash-alt"  onclick="pontua({{arquivo.id}},0);" ></i>
                {% for i in dist %}

                    {% if not arquivo.nota %}
                        <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},0);" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                    {% elif arquivo.nota >= (i)%}
                        <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star"></ion-icon></label>
                    {% else %}
                        <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                    {% endif %}
                {% endfor %}
                <small>({{arquivo.nota_decimal}})</small>
            </div>
        {% endif %}
    {% else %}
        <div id="atual5-{{arquivo.id}}">
            {% for i in dist %}

                {% if not arquivo.nota %}
                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                {% elif arquivo.nota >= (i)%}
                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                {% else %}
                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                {% endif %}
            {% endfor %}
            <small>({{arquivo.nota_decimal}})</small>
        </div>
    {% endif %}
    </p>
{% endmacro %}













{% macro render_stars_normal(arquivo, dist, current_user) %}
<p>
{%if current_user.is_authenticated%}
    {% if arquivo.avaliado %}
        <div id="atual1-{{arquivo.id}}">
            {%for avl in arquivo.avaliacoes %} 
                {%if avl in current_user.avaliacoes%}
                    {% for i in dist %}
                        {% if avl.nota >= (i)%}
                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                        {% else %}
                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                        {% endif %}
                    {% endfor %}    
                {% endif %}
            {% endfor %} 
            <small>({{arquivo.nota_decimal}})</small> 
        </div>
    {% else %}
        <div id="atual2-{{arquivo.id}}">
            {% for i in dist %}

                {% if not arquivo.nota %}
                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                {% elif arquivo.nota >= (i)%}
                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                {% else %}
                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                {% endif %}
            {% endfor %}
            <small>({{arquivo.nota_decimal}})</small>
        </div>
    {% endif %}
{% else %}
    <div id="atual2-{{arquivo.id}}">
        {% for i in dist %}

            {% if not arquivo.nota %}
                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
            {% elif arquivo.nota >= (i)%}
                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
            {% else %}
                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
            {% endif %}
        {% endfor %}
        <small>({{arquivo.nota_decimal}})</small>
    </div>
{% endif %}
</p>
{% endmacro %}











{% macro nav(arquivos, navigation_data) %}
	<nav style="position: static;" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in arquivos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if arquivos.page == page_num and page_num %}
                    <li class="page-item disabled">
                        {% if not navigation_data[0] %}
                            <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num) }}">{{ page_num }}</a></li>
                        {% else %}
                            <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num, filtro=navigation_data[0], admin=navigation_data[1], pesquisa=navigation_data[2], tip_arquiv=navigation_data[3]) }}">{{ page_num }}</a></li>
                        {% endif %}
                    </li>
                {% elif page_num %}
                    <li class="page-item">
                        {% if not navigation_data[0] %}
                            <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num) }}">{{ page_num }}</a></li>
                        {% else %}
                            <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num, filtro=navigation_data[0], admin=navigation_data[1], pesquisa=navigation_data[2], tip_arquiv=navigation_data[3]) }}">{{ page_num }}</a></li>
                        {% endif %}
                    </li>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </ul>
    </nav> 
{% endmacro %}