
<small>O máximo é de 3 matérias</small>
<div id="MateriasSimulado">

	<div id="materia-1" class="md-form md-outline">
                    
        <select class="form-control" name="m1" id="Materia_1" onchange="disponibiliza_materia(this);">
        	<option value="-1" >Todas as questão</option>
            {% if sem_materia > 0 %}
               <option value="0" >Questões sem matéria ({{sem_materia}})</option>
            {% endif %}
		  {% for materia in materias_lista %}
		  	<option value="{{materia[0]}}" >{{materia[1]}}  ({{materia[2]}})</option>
		  {% endfor %}
		</select>
           
    </div>

    {% if num_materias >= 2 %}

        <div id="materia-2" class="md-form md-outline" style="display: none;">
                        
            <select class="form-control" name="m2" id="Materia_2" onchange="disponibiliza_materia(this);">
                <option value="-1" >Sem mais mateiras</option>
                {% if sem_materia > 0 %}
            	   <option value="0" >Questões sem matéria ({{sem_materia}})</option>
                {% endif %}
        	  {% for materia in materias_lista %}
        	  	<option value="{{materia[0]}}" >{{materia[1]}} ({{materia[2]}})</option>
        	  {% endfor %}
        	</select>
               
        </div>

        {% if num_materias >=3 %}

            <div id="materia-3" class="md-form md-outline" style="display: none;">
                            
                <select class="form-control" name="m3" id="Materia_3" onchange="disponibiliza_materia(this);">
                    <option value="-1" >Sem mais mateiras</option>
                	{% if sem_materia > 0 %}
                       <option value="0" >Questões sem matéria ({{sem_materia}})</option>
                    {% endif %}
            	  {% for materia in materias_lista %}
            	  	<option value="{{materia[0]}}" >{{materia[1]}} ({{materia[2]}})</option>
            	  {% endfor %}
            	</select>
                   
            </div>

        {% endif %}
    {% endif %}

</div>

