
<small>O máximo é de 3 matérias ou pela disponibilidade</small>
<div id="MateriasSimulado">

	<div id="materia-1" class="md-form md-outline">
                    
        <select class="form-control" id="Materia_1" onchange="disponibiliza_materia(this);">
        	<option value="a" >Sem mateira específica</option>
        	<option value="0" >Questões sem matéria</option>
		  {% for materia in materias_lista %}
		  	<option value="{{materia[0]}}" >{{materia[1]}}</option>
		  {% endfor %}
		</select>
           
    </div>

    <div id="materia-2" class="md-form md-outline" style="display: none;">
                    
        <select class="form-control" id="Materia_2" onchange="disponibiliza_materia(this);">
        	<option value="0" >Questões sem matéria</option>
		  {% for materia in materias_lista %}
		  	<option value="{{materia[0]}}" >{{materia[1]}}</option>
		  {% endfor %}
		</select>
           
    </div>

    <div id="materia-3" class="md-form md-outline" style="display: none;">
                    
        <select class="form-control" id="Materia_3" onchange="disponibiliza_materia(this);">
        	<option value="0" >>Questões sem matéria</option>
		  {% for materia in materias_lista %}
		  	<option value="{{materia[0]}}" >{{materia[1]}}</option>
		  {% endfor %}
		</select>
           
    </div>

</div>

