{% extends "base.html" %}

{% block title %}Listar professor{% endblock %}

{% block content %}

    <!--CONFIGURAÇÃO PARA ADMINISTRADOR-->
    {% if current_user.is_admin %}

        <div>
            <form class="form-group" action="{{ url_for('professores.buscar') }}" method="POST">
                <div class="page-header" style="margin-bottom: 30px;">
                    <h1>Buscar professor</h1>
                    <hr/>
                </div>
                {{ form_buscar.hidden_tag() }}
                <!-- Material outline input with prefix-->
                <div class="md-form md-outline">
                    {{form_buscar.nome(id="inputIconEx1", class="form-control")}}
                    <label for="inputIconEx1">Nome do professor</label>
                    <small id="emailHelp2" class="form-text text-muted">Deixe vazio e pressione enter para mostrar todos.</small>
                </div>
                    
                {{ form_buscar.submit(class="btn btn-primary") }}
                
            </form>
        </div>

        <br>

        {% if busca %}
            {% if existe_professor %}
            {% else %}
                <h2>Sem resultados para busca</h2>
                <br>
            {% endif %}
        {% endif %}
                
        <table class="table" >
            <h2>Professores</h2>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Unidade Acadêmica</th>
                    <th>Ação</th>
                </tr>
            </thead>

            {% for professor in professoresdb %}
                <tbody>
                    <tr>
                        {% if not professor.ativado %}
                            <article color="red">
                                <td>{{ professor.id }}</td>
                                <a href="{{url_for('professores.perfil', id=professor.id )}}"><td>{{ professor.nome }}</td></a>
                                <td>{{ lista[ professor.unidade_academica_id ][1] }}</td>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#redefinir{{professor.id}}" >Redefinir</button></td>
                            </article>
                        {% else %}
                            <td>{{ professor.id }}</td>
                            <td><a href="{{url_for('professores.perfil', id=professor.id )}}">{{ professor.nome }}</a> </td>
                            <td>{{ lista[ professor.unidade_academica_id ][1] }}</td>
                            <td>
                                <a data-dismiss="modal" data-toggle="modal" data-target="#editar{{professor.id}}"><img class="img-responsive delete" data-toggle="tooltip" data-placement="top" title="Editar" src="{{url_for('static', filename='images/icones/padrao/editar.svg')}}" alt="Editar"/></a>
                                <a data-dismiss="modal" data-toggle="modal" data-target="#excluir{{professor.id}}"><img class="img-responsive delete icone" data-toggle="tooltip" data-placement="top" title="Excluir" src="{{url_for('static', filename='images/icones/padrao/delete_arquivo.svg')}}" alt="Excluir"/></a>
                            </td>
                        {% endif %}
                    </tr>
                </tbody>

                <!--REDEFINIR PROFESSOR-->
                <div class="modal fade" tabindex="-1" role="dialog" id="redefinir{{professor.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Redefinir professor?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Você tem certeza que deseja redefinir esse professor?</p>
                                <br/>
                                <h6 class="modal-title">Dados de Cadastro</h6>
                                <p>  Nome: {{ professor.nome }} </p>
                                <br/>
                                <h6 class="modal-title">Dados de Exclusão</h6>
                                <p> Id do usuário que excluiu: {{ professor.id_deletor }} </p>
                                {% if professor.motivo_delete %}
                                    <p> Motivo da Exclusão: {{ professor.motivo_delete }} </p>
                                {% else %}
                                    <p> Nenhum motivo de Exclusão Cadastrado </p>
                                {% endif %}
                                <br/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                <form action="{{ url_for('professores.redefinir', prof_id=professor.id) }} " method="POST">
                                    <input type="submit" value="Redefinir">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--EDITAR PROFESSOR-->
                <div class="modal fade" tabindex="-1" role="dialog" id="editar{{professor.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Editar professor?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ url_for('professores.editar', prof_id=professor.id) }}" method="POST">
                                <div class="modal-body">
                                    <p>Você tem certeza que deseja editar esse professor?</p>
                                    <h6 class="modal-title">Dados de Cadastro</h6>
                                    <p>Nome: {{ professor.nome }} </p>
                                    <br>
                                    {{ form_editar.hidden_tag() }}
                                    {{form_editar.novo_nome.label}}
                                    {{form_editar.novo_nome(class="form-control", value=professor.nome )}}
                                    <br>
                                    {{form_editar.nova_unidade.label}}<p class="text-danger">SELECIONE</p>
                                    {{form_editar.nova_unidade }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    {{ form_editar.submit() }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!--EXCLUIR PROFESSOR-->
                <div class="modal fade" tabindex="-1" role="dialog" id="excluir{{professor.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Excluir professor?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{ url_for('professores.excluir', prof_id=professor.id) }}" method="POST">
                                <div class="modal-body">
                                    <p>Você tem certeza que deseja excluir esse professor?</p>
                                    <h6 class="modal-title">Dados de Cadastro</h6>
                                    <p>  Nome: {{ professor.nome }} </p>
                                    <br>
                                    <h6 class="modal-title">Motivo da exclusão</h6>
                                    
                                    {{ form_excluir.hidden_tag() }}
                                    {{ form_excluir.motivo_delete(class="form-control", placeholder="Digite o motivo aqui") }}
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    {{ form_excluir.submit() }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
            {% endfor %}

        </table>

        <br/>
          <nav style="position: static;" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% for page_num in profesores.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if profesores.page == page_num and page_num %}
                            <li class="page-item disabled">
                                {% if not navigation_data %}
                                    <a class="page-link" href="{{ url_for('profesores.listar', page=page_num) }}">{{ page_num }}</a></li>
                                {% else %}
                                    <a class="page-link" href="{{ url_for('profesores.listar', page=page_num, nome=navigation_data) }}">{{ page_num }}</a></li>
                                {% endif %}
                            </li>
                        {% elif page_num %}
                            <li class="page-item">
                                {% if not navigation_data %}
                                    <a class="page-link" href="{{ url_for('profesores.listar', page=page_num) }}">{{ page_num }}</a></li>
                                {% else %}
                                    <a class="page-link" href="{{ url_for('profesores.listar', page=page_num, nome=navigation_data) }}">{{ page_num }}</a></li>
                                {% endif %}
                            </li>
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav> 

    <!--CONFIGURAÇÃO PARA USUARIOS-->
    {% else %}
        <div>
            <form class="form-group" action="{{ url_for('professores.buscar') }}" method="POST">
                <div class="page-header" style="margin-bottom: 30px;">
                    <h1>Buscar professor</h1>
                    <hr/>
                </div>
                {{ form_buscar.hidden_tag() }}
                <!-- Material outline input with prefix-->
                <div class="md-form md-outline">
                    {{form_buscar.nome(id="inputIconEx1", class="form-control")}}
                    <label for="inputIconEx1">Nome do professor</label>
                    <small id="emailHelp2" class="form-text text-muted">Deixe vazio e pressione enter para mostrar todos.</small>
                </div>
                    
                {{ form_buscar.submit(class="btn btn-primary") }}
                
            </form>
        </div>

        <br>

        {% if busca %}
            {% if existe_professor %}
            {% else %}
                <h2>Sem resultados para busca</h2>
                <br>
            {% endif %}
        {% endif %}

        <table class="table" >
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Unidade acadêmica</th>
                    {% if current_user.is_authenticated %}
                    <th>Ação</th>
                    {% endif %}
                </tr>
            </thead>
            
            {% for professor in professoresdb %}
                {% if professor.ativado %}
                    <tbody>
                        <tr>
                            <td>{{ professor.nome }}</td>
                            <td>{{ lista[ professor.unidade_academica_id ][1] }}</td>
                            {% if current_user.is_authenticated %}
                                {% if current_user.id == professor.id_criador %}
                                <td>
                                <a data-dismiss="modal" data-toggle="modal" data-target="#editar{{professor.id}}"><img class="img-responsive delete" data-toggle="tooltip" data-placement="top" title="Editar" src="{{url_for('static', filename='images/icones/padrao/editar.svg')}}" alt="Editar"/></a>
                                <a data-dismiss="modal" data-toggle="modal" data-target="#excluir{{professor.id}}"><img class="img-responsive delete icone" data-toggle="tooltip" data-placement="top" title="Excluir" src="{{url_for('static', filename='images/icones/padrao/delete_arquivo.svg')}}" alt="Excluir"/></a>
                                </td>
                                {% else %}
                                <td>Nenhuma</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </tbody>
                {% endif %}
    
                {% if professor.ativado %}
                    
                    <!--EDITAR PROFESSOR-->
                    <div class="modal fade" tabindex="-1" role="dialog" id="editar{{professor.id}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar professor?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ url_for('professores.editar', prof_id=professor.id) }}" method="POST">
                                    <div class="modal-body">
                                        <p>Você tem certeza que deseja editar esse professor?</p>
                                        <h6 class="modal-title">Dados de Cadastro</h6>
                                        <p>Nome: {{ professor.nome }} </p>
                                        <br>
                                        {{ form_editar.hidden_tag() }}
                                        {{form_editar.novo_nome.label}}
                                        {{form_editar.novo_nome(class="input-group input-group-text", value=professor.nome )}}
                                        <br>
                                        {{form_editar.nova_unidade.label}}<p class="text-danger">SELECIONE</p>
                                        {{form_editar.nova_unidade}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        {{ form_editar.submit() }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!--EXCLUIR PROFESSOR-->
                    <div class="modal fade" tabindex="-1" role="dialog" id="excluir{{professor.id}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Excluir professor?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="{{ url_for('professores.excluir', prof_id=professor.id) }}" method="POST">
                                    <div class="modal-body">
                                        <p>Você tem certeza que deseja excluir esse professor?</p>
                                        <h6 class="modal-title">Dados de Cadastro</h6>
                                        <p>  Nome: {{ professor.nome }} </p>
                                        <br>
                                        <h6 class="modal-title">Motivo da exclusão</h6>
                                        
                                        {{ form_excluir.hidden_tag() }}
                                        {{ form_excluir.motivo_delete(class="input-group input-group-text") }}
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        {{ form_excluir.submit() }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                {% endif %}
    
            {% endfor %}
        </table>

        <br/>
          <nav style="position: static;" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% for page_num in profesores.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if profesores.page == page_num and page_num %}
                        <li class="page-item disabled">
                            {% if not navigation_data %}
                                <a class="page-link" href="{{ url_for('profesores.listar', page=page_num) }}">{{ page_num }}</a></li>
                            {% else %}
                                <a class="page-link" href="{{ url_for('profesores.listar', page=page_num, nome=navigation_data) }}">{{ page_num }}</a></li>
                            {% endif %}
                        </li>
                    {% elif page_num %}
                        <li class="page-item">
                            {% if not navigation_data %}
                                <a class="page-link" href="{{ url_for('profesores.listar', page=page_num) }}">{{ page_num }}</a></li>
                            {% else %}
                                <a class="page-link" href="{{ url_for('profesores.listar', page=page_num, nome=navigation_data) }}">{{ page_num }}</a></li>
                            {% endif %}
                        </li>
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </ul>
        </nav> 

    {% endif %}    

{% endblock %}