{% extends "base.html" %}

{% block title %}Listar professores{% endblock %}

{% block content %}
    <table class="table" >
        <thead>
            <tr>
                <th>Nome</th>
                <th>Unidade acadêmica</th>
                {% if current_user.is_authenticated %}
                <th>Ação</th>
                {% endif %}
            </tr>
        </thead>
        {% for professor in professoresdb %}
            {% if professor.is_eligible %}
                <tbody>
                    <tr>
                        <td>{{ professor.nome }}</td>
                        <td>{{ lista[ professor.unidade_academica_id ][1] }}</td>
                        {% if current_user.is_authenticated %}
                            {% if current_user.id == professor.id_criador %}
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#editar{{professor.id}}" >Editar</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#excluir{{professor.id}}" >Excluir</button>
                            </td>
                            {% else %}
                            <td>Nenhuma</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                </tbody>
            {% endif %}

            {% if professor.is_eligible %}

        <div class="modal" tabindex="-1" role="dialog" id="editar{{professor.id}}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar professor?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                        
                        <div class="modal-body">
                            <p>Você tem certeza que deseja editar esse professor?</p>
                            <br/>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('professores.user_editar', prof_id=professor.id) }} " method="POST">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Editar" class="btn btn-danger">
                            </form>
                        </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="excluir{{professor.id}}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir professor?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Você tem certeza que deseja excluir esse professor?</p>
                        <br/>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    
                            <form action="{{ url_for('professores.user_excluir', prof_id=professor.id, motivo_delete='Exclusão por usuário comum') }} " method="POST">
                                <input type="submit" value="Excluir" class="btn btn-danger">
                            </form>
                        </div>
                </div>
            </div>
        </div>

    {% endif %}

        {% endfor %}
    </table>
{% endblock %}
