{% extends 'base.html' %}
{% block title %}{{professor.nome}}{% endblock %}
 
{% block content %}

    <!--Dados do Professor-->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img align="center" src="{{ url_for('static', filename='images/prof.png') }}" class="rounded-circle"  style="object-fit: cover; width: 150px!important; height: 150px!important;"><br>
                <h2 align="center">{{professor.nome}}</h2>
            </div>
        </div>

        <h1>Todas as Contribuições relacionadas a {{professor.nome}} ({{contribuiu}})</h1>
        <h3>Unidade Acadêmica: {{professor.unidade_academica_id | unidade_academica}}</h3>
        <hr/>
        <p>
        <small><q>O conhecimento não é pra ser guardado a sete chaves e sim pra ser compartilhado, dividido, pois conhecimento guardado é igual dinheiro num cofre, perde o valor e não rende nada.</q><br/>

    Lindomar Batista</small></p>
    </div>
    <!--BARRA DE NAVEGAÇÃO-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="far fa-address-book"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="far fa-comments" style="font-size: 35px;"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-user-alt"></i></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
           <div class="content">
          
            <section>
                <h2>Material Relacionado</h2>
                <!--Material Relacionado-->

                    <div class="page-header">
                        <h3>Todas os materiais relacionados a {{professor.nome}} ({{contribuiu}})</h3>
                        <hr/>
                        <p>
                        <small><q>O conhecimento não é pra ser guardado a sete chaves e sim pra ser compartilhado, dividido, pois conhecimento guardado é igual dinheiro num cofre, perde o valor e não rende nada.</q><br/>

                    Lindomar Batista</small></p>
                    </div>

                    {% for row in arquivos_rows %}
                    {% if row %}
                    <div class="row">
                        {% for arquivo in row %}
                                {% if current_user == arquivo.author %}
                                    <div class="modal" tabindex="-1" role="dialog" id="del_confirm{{arquivo.id}}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Deletar Arquivo?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você tem certeza que deja deletar esse arquivo?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>                 
                                                <a data-toggle="tooltip" data-placement="top" title="Deletar Permanentemente" href="{{ url_for('arquivos.excluir', arq_id=arquivo.id) }} "> <i class="far fa-trash-alt deletar"></i> </a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


                                    <div class="modal" tabindex="-1" role="dialog" id="confirm{{arquivo.id}}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title text-center">Informações do Arquivo</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="modal-title">Observações do usuário:</h5>
                                                    <h5><p class="text-center">{{ arquivo.observacao }}</p></h6>
                                                    <br/>

                                                    <h5 class="modal-title">Referências:</h5>
                                                    <p>Usuáario que postou: <a href="{{url_for('usuarios.perfil', user_id=arquivo.author.id)}}"> {{ arquivo.author.username }}</a></p>
                                                    <p>Professor de referência: {{ arquivo.professor.nome }}</p>
                                                    <p>Diciplina de referência: {{ arquivo.disciplina.nome }}</p>
                                                    <p>Ano de referência: {{ arquivo.ano }}</p>
                                                    <p>Semestre de referência: {{ arquivo.ano }}</p>
                                                    <br/>

                                                    <h5 class="modal-title">Sobre o Arquivo:</h5>
                                                    <br/>
                                                        <p>
                                                        
                                                        <a href="{{ url_for('arquivos.buscar',
                                                         filtro=3, admin='nao', pesquisa='nao', tip_arquiv=arquivo.tipo_conteudo) }}?page=1"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.tipo_conteudo}}" src="{{url_for('static', filename='images/icones/conteudo/'+arquivo.tipo_conteudo+'.svg')}}" alt="{{arquivo.tipo_conteudo}}."></a>
                                                        

                                                        <a href="{{url_for('usuarios.perfil', user_id=arquivo.author.id)}}"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.author.username}}" src="{{url_for('static', filename='images/icones/padrao/user.svg')}}" alt="Username"></a>

                                                    </p>
                                                    <br/>
                                                    <p>Data de referência: {{ arquivo.data_submissao.strftime('%B %d, %Y') }}</p>
                                                    <p>
                                                    {%if current_user.is_authenticated%}
                                                        {% if arquivo.avaliado %}
                                
                                                            <div id="atual3-{{arquivo.id}}">
                                                                <i class="far fa-trash-alt"  onclick="pontua({{arquivo.id}},0);" ></i>
                                                                {%for avl in arquivo.avaliacoes %} 
                                                                    {%if avl in current_user.avaliacoes%}
                                                                        {% for i in dist %}
                                                                            {% if avl.nota >= (i)%}
                                                                                <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star2-{{arquivo.id}}" name="star"></ion-icon></label>
                                                                            {% else %}
                                                                                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                                                            {% endif %}
                                                                        {% endfor %}    
                                                                    {% endif %}
                                                                {% endfor %} 
                                                                <small>({{arquivo.nota_decimal}})</small> 
                                                            </div>
                                                        {% else %}
                                                            <div id="atual4-{{arquivo.id}}">
                                                                <i class="far fa-trash-alt"  onclick="pontua({{arquivo.id}},0);" ></i>
                                                                {% for i in dist %}

                                                                    {% if not arquivo.nota %}
                                                                        <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},0);" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                                                    {% elif arquivo.nota >= (i)%}
                                                                        <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star"></ion-icon></label>
                                                                    {% else %}
                                                                        <label ><ion-icon onmouseover="colorir2({{arquivo.id}},{{i}});" onmouseout="colorir2({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star2-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <small>({{arquivo.nota_decimal}})</small>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div id="atual5-{{arquivo.id}}">
                                                            {% for i in dist %}

                                                                {% if not arquivo.nota %}
                                                                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                                                {% elif arquivo.nota >= (i)%}
                                                                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                                                                {% else %}
                                                                    <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <small>({{arquivo.nota_decimal}})</small>
                                                        </div>
                                                    {% endif %}
                                                    </p>
                                                    <br/>
                                                </div>
                                                <div class="modal-footer">
                                                    
                                                    <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>

                                                    {% if current_user == arquivo.author%}

                                                        <a href="{{ url_for('arquivos.editar', arq_id=arquivo.id) }}" ><i class="fas fa-edit edit-icon" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
                                                        
                                                        
                                                        <a data-dismiss="modal" data-toggle="modal" href="{{ url_for('arquivos.excluir', arq_id=arquivo.id) }}" data-target="#del_confirm{{arquivo.id}}"><i class="far fa-trash-alt deletar" data-toggle="tooltip" data-placement="top" title="Deletar"></i></a>

                                                    {% endif %}
                                                    
                                                    <a  href="{{ url_for('static', filename='uploads/' + arquivo.arquivo + '.zip') }}"><i class="fas fa-download model-download" data-toggle="tooltip" data-placement="top" title="Download" ></i></a>
                                                
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                    <div class="col-lg-3 col-6"> 
                        <div class="dist card">
                          <div class="card-body">
                            <h4 style="font-family: sans-serif;" class="card-title text-center text-truncate">{{arquivo.disciplina.nome}}</h4>
                            <p class="card-text">
                                
                                <a href="{{ url_for('arquivos.buscar', filtro=3, admin='nao', pesquisa='nao', tip_arquiv=arquivo.tipo_conteudo) }}?page=1"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.tipo_conteudo}}" src="{{url_for('static', filename='images/icones/conteudo/'+arquivo.tipo_conteudo+'.svg')}}" alt="{{arquivo.tipo_conteudo}}."></a>

                           
                                <a href="{{url_for('usuarios.perfil', user_id=arquivo.author.id)}}"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.author.username}}" src="{{url_for('static', filename='images/icones/padrao/user.svg')}}" alt="Username"></a>
                          

                            </p>

                            <p>
                            {%if current_user.is_authenticated%}
                                {% if arquivo.avaliado %}
                                    <div id="atual1-{{arquivo.id}}">
                                        {%for avl in arquivo.avaliacoes %} 
                                            {%if avl in current_user.avaliacoes%}
                                                {% for i in dist %}
                                                    {% if avl.nota >= (i)%}
                                                        <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                                                    {% else %}
                                                        <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{avl.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(255, 217, 0)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                                    {% endif %}
                                                {% endfor %}    
                                            {% endif %}
                                        {% endfor %} 
                                        <small>({{arquivo.nota_decimal}})</small> 
                                    </div>
                                {% else %}
                                    <div id="atual2-{{arquivo.id}}">
                                        {% for i in dist %}

                                            {% if not arquivo.nota %}
                                                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                            {% elif arquivo.nota >= (i)%}
                                                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                                            {% else %}
                                                <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" onclick="pontua({{arquivo.id}},{{i}});" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                            {% endif %}
                                        {% endfor %}
                                        <small>({{arquivo.nota_decimal}})</small>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div id="atual2-{{arquivo.id}}">
                                    {% for i in dist %}

                                        {% if not arquivo.nota %}
                                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},0);" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                        {% elif arquivo.nota >= (i)%}
                                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star"></ion-icon></label>
                                        {% else %}
                                            <label ><ion-icon onmouseover="colorir({{arquivo.id}},{{i}});" onmouseout="colorir({{arquivo.id}},{{arquivo.nota}});" data-toggle="modal" data-target="#elegantModalForm" style="color: rgb(243, 38, 54)" class="star-{{arquivo.id}}" name="star-outline"></ion-icon></label>
                                        {% endif %}
                                    {% endfor %}
                                    <small>({{arquivo.nota_decimal}})</small>
                                </div>
                            {% endif %}
                            </p>

                            <a href="#" data-toggle="modal" data-target="#confirm{{arquivo.id}}" class="card-link"><i class="fas fa-info-circle info" data-toggle="tooltip" data-placement="bottom" title="Mais Informações"></i></a>

                            <a  href="{{ url_for('static', filename='uploads/' + arquivo.arquivo + '.zip') }}"><i class="fas fa-download download" data-toggle="tooltip" data-placement="top" title="Download" ></i></a>

                          </div>
                        </div>
                      </div>


                            
                            {% endfor %}
                        </div><!--Fim row-->
                    {% endif %}
                {% endfor %}

                

                    <br/>
                    
                    PAGINAÇÃO
                    <nav  aria-label="Page navigation example" style="position: static;">
                        <ul class="pagination justify-content-center">
                            {% for page_num in arquivos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if arquivos.page == page_num and page_num %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="{{ url_for('usuarios.troca', page=page_num) }}">{{ page_num }}</a></li>
                                    </li>
                                {% elif page_num %}
                                    <li class="page-item">                    
                                        <a class="page-link" href="{{ url_for('usuarios.troca', page=page_num) }}">{{ page_num }}</a></li>
                                    </li>
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>

                </div>
            </section>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="content">
          <section>
            <h2>Comentários</h2>
                <div class="row">        
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <h5>Comentários</h5>
                    <div class="container">
                        <!--NOVO FOMRULARIO DE COMENTAR-->
                        <div class="row">
                            <!-- Reply section (logged in user) -->
                            <section >
                                <form method="POST">
                                    {{ form_comentario.hidden_tag() }}
                                    <div class="d-md-flex flex-md-fill mt-4 px-1">
                                        <div class="d-flex justify-content-center mr-md-5">
                                        <img class="card-img-100 z-depth-1 mb-4 rounded-circle z-depth-0" src="{{url_for('static', filename='images/avatares/'+current_user.avatar)}}"
                                            alt="avatar">
                                        </div>
                                        <div class="form-group shadow-textarea">
                                            {{ form_comentario.conteudo(class="form-control z-depth-1", placeholder="Escreva seu comentário aqui...", id="comentario_questoes", rows="4", cols="100%") }}
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        {{ form_comentario.comentar(class="btn btn-primary") }}
                                    </div>
                                </form>
                            </section>
                            <!-- Reply section (logged in user) -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            {% for comment in comentarios %}
                {% for user in usuarios %}
                    {% if user.id == comment.usuario_id %}
                        {% if comment.respondeu_id==0 %}
                            <div class="row">
                                <!--Section: Comments-->
                                <section class="col">
                                    
                                    <div class="media d-block d-md-flex mt-4">
                                    <img class="card-img-64 rounded-circle z-depth-1 d-flex mx-auto mb-3" src="{{url_for('static', filename='images/avatares/'+user.avatar)}}"
                                        alt="Generic placeholder image">
                                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                        <h5 class="font-weight-bold mt-0">
                                        <a class="blue-text">{{ user.nome }}</a>
                                        <a class="pull-right blue-text">
                                            <i class="fas fa-reply" data-toggle="tooltip" data-placement="right" title="Responder" onclick="responder_comentario('comentario{{comment.id}}')"></i>
                                        </a>
                                        </h5>
                                        <div class="grey-text" style="margin-left: 5px; margin-top: -20px; margin-bottom: -15px;">
                                            <div class="mb-1 navbar-expand-lg" style="position: relative; display: flex; align-items: center;">
                                                {{ comment.data_criacao.strftime('%d %b, %Y às %H:%M') }}
                                            
                                                <ul class="navbar-nav ml-auto">
                                                    <li class="nav-item dropdown">
                                                    <a class="nav-link" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="fas fa-angle-down"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                                        <button class="dropdown-item" onclick="formulario_editar_comentario('form_editar_comentario{{comment.id}}')">Editar</button>
                                                        {% if current_user.is_admin or current_user.id == comment.usuario_id %}
                                                            <form method="POST">
                                                                {{ form_excluir_comentario.hidden_tag() }}
                                                                {{ form_excluir_comentario.id_comment(style="display: None;", value=comment.id) }}
                                                                {{ form_excluir_comentario.excluir(class="dropdown-item")}}
                                                            </form>
                                                        {% endif %}
                                                        <a class="dropdown-item" href="#">Reportar</a>
                                                        
                                                    </div>
                                                    </li>
                                                </ul>
                                                    
                                            </div>
                                        </div>

                                        {{ comment.conteudo | converte }}
                            
                                        <!--Escrever uma resposta, a principio display é none-->
                                        <!-- Quick Reply -->
                                        <div class="md-form mt-4" style="display: none;" id="comentario{{comment.id}}">
                                            <section >
                                                <form method="GET">
                                                    <div class="d-md-flex flex-md-fill mt-4 px-1">
                                                        <div class="d-flex justify-content-center mr-md-5">
                                                        <img class="card-img-100 z-depth-1 mb-4 rounded-circle z-depth-0" src="{{url_for('static', filename='images/avatares/'+current_user.avatar)}}"
                                                            alt="avatar">
                                                        </div>
                                                        <div class="form-group shadow-textarea">
                                                            <textarea name="responder_comentario{{comment.id}}" class="form-control z-depth-1" placeholder="Escreva seu comentário aqui..." id="responder_comentario{{comment.id}}" rows="4" cols="100%"></textarea>
                                                        </div>
                                                         <input name="respondido" id="respondido" type="hidden" value="{{comment.id}}"/>
                                                    </div>
                                                    <div class="text-center mt-4">
                                                        <a type="button" class="btn btn-default" onclick="responder_comentario('comentario{{comment.id}}')">Cancelar</a>
                                                        
                                                        <input type="submit" class="btn btn-primary" value="RESPONDER">
                                                    </div>
                                                </form>
                                            </section>
                                        </div>
                                        <script>
                                            CKEDITOR.replace( 'responder_comentario{{comment.id}}', { width: "60vw", height: 'auto'} );
                                        </script>
                                        {% for resposta in comentarios %}
                                            {% if resposta.respondeu_id == comment.id %}
                                                {% for userRespond in usuarios %}
                                                    {% if userRespond.id == resposta.usuario_id %}
                                                        <!--Se ouver respostas no comentario, manda um for aqui-->
                                                        <blockquote class=" blockquote mb-0 media d-block d-md-flex mt-4">
                                                        <img class="card-img-64 rounded-circle z-depth-1 d-flex mx-auto mb-3" src="{{url_for('static', filename='images/avatares/'+userRespond.avatar)}}"
                                                            alt="Generic placeholder image">
                                                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                                            <h5 class="font-weight-bold mt-0">
                                                            <a class="blue-text" href="">{{ userRespond.nome }}</a>
                                                            </h5>
                                                            {{ resposta.conteudo | converte }}
                                                        </div>
                                                        </blockquote>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    </div>
                                
                                </section>
                            </div>
                        {% endif %}   
                    {% endif %}
                {% endfor %}
            {% endfor %}    
            </div>            
     </section>
      </div>

      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
         <div class="content">
          <section>
            <div class="row">
                <h2>Perfil</h2>
            </div>
        </section>
      </div>
    </div>
</div>
    
    
    <br/>
    <br/>

    

{% endblock %}