{% extends "base.html" %}

{% block title %}Listar professores{% endblock %}

{% block content %}

    {% if existe_professor %}
        <table class="table" >
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Unidade acadêmica</th>
                </tr>
            </thead>
            {% for professor in professores %}
                {% if professor.is_eligible %}
                    <tbody>
                        <tr>
                            <td>{{ professor.nome }}</td>
                            <td>{{ lista[ professor.unidade_academica_id ][1] }}</td>
                        </tr>
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <h3>Sem resultados para sua pesquisa</h3>
    {% endif %}

{% endblock %}
