{% extends "base.html" %}

{% block title %}Listar professores{% endblock %}

{% block content %}

    {% if existe_professor %}
    <table class="table" >
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        {% for professor in professores %}
            <tbody>
                <tr>
                    <td>{{ professor.nome }}</td>
                </tr>
            </tbody>

        {% endfor %}
        </table>
    {% else %}
        <h3>Não existe o professor</h3>
    {% endif %}

{% endblock %}
