{% extends "base.html" %}

{% block title %}Adicionar usuário{% endblock %}

{% block content %}
<p>Obrigado por estar se juntando à nossa comunidade!</p>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }}{{ form.username }}

        {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.username %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}

        <br>
        {{ form.nome.label }}{{ form.nome }}
        {% if form.errors.nome %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.nome %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        <br>
        {{ form.curso.label }}{{ form.curso }}
        {% if form.errors.curso %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.curso %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        <br>
        {{ form.periodo.label }}{{ form.periodo }}
        {% if form.errors.periodo %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.periodo %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        <br>
        {{ form.email.label }}{{ form.email }}
        {% if form.errors.email %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.email %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        <br>
        {{ form.senha.label }}{{ form.senha }}
        {% if form.errors.senha %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.senha %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        
        <br>
        {{ form.conf_senha.label }}{{ form.conf_senha }}
        {% if form.errors.conf_senha %}
            <div class="alert alert-danger" role="alert">
            <ul>
                {% for e in form.errors.conf_senha %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>

{% endblock %}
