{% extends "ver_consulta.html" %}

{% block title %}Consulta{% endblock %}

{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.administrators.label }}{{ form.administrators }}
    <br/>
    {{ form.filtrar.label }}{{ form.filtrar }}
    {% if form.errors.filtrar %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form.errors.filtrar %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
    <div id="pesquisa1">
    {{ form.username.label }}{{ form.username }}
    {% if form.errors.username %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form.errors.username %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
    </div>
    <br>
    <div id="pesquisa2">
    {{ form.nome.label }}{{ form.nome }}
    {% if form.errors.nome %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form.errors.nome %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
    </div>
    <br>
    <div id="pesquisa3">
    {{ form.email.label }}{{ form.email }}
    {% if form.errors.email %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form.errors.email %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
    </div>
    <br>
    {{ form.submit }}
</form>  
    {% block resultado %}
        {{ super() }}
    {% endblock %}

{% endblock %}

