{% extends 'base.html' %}
{% block title %}Mudar Informações{% endblock %}

{% block content %}
<br/>
<h3>Trocar Senha</h3>
<form method="POST">
    {{ form_senha.hidden_tag() }}
    <br/>
    {{ form_senha.senha_atual.label }}{{ form_senha.senha_atual(class="") }}
    {% if form_senha.errors.senha_atual %}
        <div class="alert alert-danger" role="alert">
        <ul>
            {% for e in form_senha.errors.senha_atual %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    <br/>
    {{ form_senha.nova_senha.label }}{{ form_senha.nova_senha(class="") }}
    {% if form_senha.errors.nova_senha %}
        <div class="alert alert-danger" role="alert">
        <ul>
            {% for e in form_senha.errors.nova_senha %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    <br/>
    {{ form_senha.conf_senha.label }}{{ form_senha.conf_senha(class="") }}
    {% if form_senha.errors.conf_senha %}
        <div class="alert alert-danger" role="alert">
        <ul>
            {% for e in form_senha.errors.conf_senha %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    <br/>
    <br/>
    {{ form_senha.submit(class="") }}
</form>
<br/>
<br/>
<br/>

<!--
<h3>Trocar Email</h3>

<form method="POST">
    {{ form_email.hidden_tag() }}
    <br/>
    {{ form_email.novo_email.label }}{{ form_email.novo_email }}
    <br/>
    {{ form_email.conf_email.label }}{{ form_email.conf_email }}
    <br/><br/>
    {{ form_email.submit }}
</form>
-->
{% endblock %}
