{% extends 'base.html' %}
{% block title %}Mudar Informações{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Editar informações</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Trocar senha</h3>
            <form method="POST">
                {{ form_senha.hidden_tag() }}
                <div class="form-group">
                    {{ form_senha.senha_atual.label }}{{ form_senha.senha_atual(class="form-control") }}
                    {% if form_senha.errors.senha_atual %}
                        <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form_senha.errors.senha_atual %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_senha.nova_senha.label }}{{ form_senha.nova_senha(class="form-control") }}
                    {% if form_senha.errors.nova_senha %}
                        <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form_senha.errors.nova_senha %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_senha.conf_senha.label }}{{ form_senha.conf_senha(class="form-control") }}
                    {% if form_senha.errors.conf_senha %}
                        <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form_senha.errors.conf_senha %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_senha.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <h3>Alterar E-mail</h3>
            <form method="POST">
                {{ form_email.hidden_tag() }}
                <div class="form-group">
                    {{ form_email.senha_atual.label }}{{ form_email.senha_atual(class="form-control") }}
                    {% if form_email.errors.senha_atual %}
                        <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form_email.errors.senha_atual %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_email.novo_email.label }}{{ form_email.novo_email(class="form-control") }}
                    {% if form_email.errors.novo_email %}
                        <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form_email.errors.novo_email %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_email.conf_email.label }}{{ form_email.conf_email(class="form-control") }}
                    {% if form_email.errors.conf_email %}
                        <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for e in form_email.errors.conf_email %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_email.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
