{% extends "base.html" %}

{% block title %}Adicionar arquivo{% endblock %}

{% block content %}
    
<div class="container well">
    <form action="" method="POST" action="" enctype="multpart/form-data">

      {{ form_add.hidden_tag() }}
        {% for mess in get_flashed_messages()  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{mess}}
            </div>
        {% endfor %}
      

        <p><strong>Disciplina</strong>:</p>
          {{ form_add.disciplina(class="form-control") }}

        <p><strong>Ano</strong>:</p>
        {{ form_add.ano(class="form-control") }}

        <p><strong>Semestre</strong>:</p>
        {{ form_add.semestre(class="form-control") }}

        <p><strong>Tipo de Conteúdo</strong>:</p>
        {{ form_add.tipo_conteudo(class="form-control") }}

        <p><strong>Professor</strong>:</p>
        {{ form_add.professor(class="form-control") }}

        <p><strong>Outras Informações</strong>:</p>
        {{ form_add.observacoes(class="form-control") }}

        <p><strong>Selecione o Arquivo</strong>(apenas PDF ou imagens com no máximo <strong>10mb</strong>):</p>
        {{ form_add.arquivo(class="form-control") }}
        {% if form_add.errors.arquivo %}
        <div class="alert alert-danger" role="alert">
          <ul>
            {% for e in form_add.errors.arquivo %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

        <br><br>

        <div>
            {{ form_add.submit() }}
        </div>

    </form>
</div>
{% endblock %}
