{% extends "base.html" %}

{% block title %}Editar arquivo{% endblock %}

{% block content %}
<div class="container well">
    <form action="" method="POST" enctype="multipart/form-data">

      {{ form.hidden_tag() }}

        <p><strong>Disciplina</strong>:</p>
          {{ form.disciplina(class="form-control") }}

        <p><strong>Ano</strong>:</p>
        {{ form.ano(class="form-control") }}

        <p><strong>Semestre</strong>:</p>
        {{ form.semestre(class="form-control") }}

        <p><strong>Tipo de Conteúdo</strong>:</p>
        {{ form.tipo_conteudo(class="form-control") }}

        <p><strong>Professor</strong>:</p>
        {{ form.professor(class="form-control") }}

        <p><strong>Outras Informações</strong>:</p>
        {{ form.observacoes(class="form-control") }}

        <br><br>

        <div>
            {{ form.submit() }}
        </div>

    </form>
</div>
{% endblock %}
