{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block resultado %}

{% if existe_arquivo %}    
<div class="page-header">
    <h1>Resultado</h1>
    <hr/>
</div>
{% for row in arquivos_rows %}
{% if row %}
<div class="row">
    {% for arquivo in row %}
    {% if arquivo.ativado %}
    <div class="modal" tabindex="-1" role="dialog" id="del_confirm{{arquivo.id}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletar Arquivo?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja deletar esse arquivo?</p>
                </div>
                <div class="modal-footer">
                    <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>                 
                    <a data-toggle="tooltip" data-placement="top" title="Deletar Permanentemente" href="{{ url_for('arquivos.excluir', arq_id=arquivo.id) }} "> <i class="far fa-trash-alt deletar"></i> </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="modal" tabindex="-1" role="dialog" id="red_confirm{{arquivo.id}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Redefinir Arquivo?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja redefinir esse arquivo?</p>
                </div>
                <div class="modal-footer">
                    <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a> 

                    <form action="{{url_for('arquivos.redefinir', arq_id=arquivo.id)}}" method="POST">
                        <button type="submit" class="btn btn-danger" data-toggle="modal"  >Redefinir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="modal" tabindex="-1" role="dialog" id="confirm{{arquivo.id}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center">Informações do Arquivo</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ macros.content(arquivo) }}
                        <p>

                            <a href="{{ url_for('arquivos.buscar', filtro=3, admin='nao', pesquisa='nao', tip_arquiv=arquivo.tipo_conteudo) }}?page=1"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.tipo_conteudo}}" src="{{url_for('static', filename='images/icones/conteudo/'+arquivo.tipo_conteudo+'.svg')}}" alt="{{arquivo.tipo_conteudo}}."></a>

                            <a href="{{url_for('usuarios.perfil', user_id=arquivo.author.id)}}"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.author.username}}" src="{{url_for('static', filename='images/icones/padrao/user.svg')}}" alt="Username"></a>

                        </p>
                        <br/>
                        <p>Data de referência: {{ arquivo.data_submissao.strftime('%B %d, %Y') }}</p>
                        <br/>
                        {% if not arquivo.ativado %}
                            <p> Data de Exclusão: {{arquivo.data_deletado.strftime('%B %d, %Y') }} </p>
                            <p> Id do usuário que excluiu: {{arquivo.id_deletor}} </p>
                            {% if arquivo.motivo_delete %}
                                <p> Motivo da Exclusão: {{user.motivo_delete}} </p>
                            {% else %}
                                <p> Nenhum metivo de Exclusão Cadastrado </p>
                            {% endif %}
                        {% endif %}
 
                        {{ macros.render_stars_2(arquivo, dist, current_user) }}
                        
                    </div>
                    <div class="modal-footer">

                        <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>

                        {% if current_user == arquivo.author%}

                        <a href="{{ url_for('arquivos.editar', arq_id=arquivo.id) }}" ><i class="fas fa-edit edit-icon" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>

                        {% endif %}

                        {% if arquivo.ativado %}

                        <a data-dismiss="modal" data-toggle="modal" href="{{ url_for('arquivos.excluir', arq_id=arquivo.id) }}" data-target="#del_confirm{{arquivo.id}}" style="margin-right: 20%;"><i class="far fa-trash-alt deletar" data-toggle="tooltip" data-placement="top" title="Deletar"></i></a>

                        {% else %}

                        <button type="button" data-dismiss="modal" class="btn btn-danger" data-toggle="modal" data-target="#red_confirm{{arquivo.id}}" >Redefinir</button>

                        {% endif %}

                        <a  href="{{ url_for('static', filename='uploads/' + arquivo.arquivo + '.zip') }}"><i class="fas fa-download model-download" data-toggle="tooltip" data-placement="top" title="Download" ></i></a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="dist card">
             {% if arquivo.ativado %}
             <div class="card-body">
                {% else %}
                <div class="card-body" style="background-color: #8b0000;">
                    {% endif %}
                    <h4 style="font-family: sans-serif;" class="card-title text-center text-truncate"><a href="{{url_for('disciplinas.perfil', id=arquivo.disciplina.id )}}">{{arquivo.disciplina.nome}} </a> </h4>
                    <p class="card-text">

                        <a href="{{ url_for('arquivos.buscar', filtro=3, admin='nao', pesquisa='nao', tip_arquiv=arquivo.tipo_conteudo) }}?page=1"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.tipo_conteudo}}" src="{{url_for('static', filename='images/icones/conteudo/'+arquivo.tipo_conteudo+'.svg')}}" alt="{{arquivo.tipo_conteudo}}."></a>


                        <a href="{{url_for('usuarios.perfil', user_id=arquivo.author.id)}}"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.author.username}}" src="{{url_for('static', filename='images/icones/padrao/user.svg')}}" alt="Username"></a>


                    </p>

                    {{ macros.render_stars(arquivo, dist, current_user) }}

                    <a href="#" data-toggle="modal" data-target="#confirm{{arquivo.id}}" class="card-link"><i class="fas fa-info-circle info" data-toggle="tooltip" data-placement="bottom" title="Mais Informações"></i></a>

                    <a  href="{{ url_for('static', filename='uploads/' + arquivo.arquivo + '.zip') }}"><i class="fas fa-download download" data-toggle="tooltip" data-placement="top" title="Download" ></i></a>

                </div>
            </div>
        </div>

        {% endfor %}
    </div><!--Fim row-->
    {% endif %}
    {% endfor %}
    <br/>
        
        {{ macros.nav(arquivos, navigation_data) }}     
        
    {% else %}
    <br/>
    <div class="text-center">
        <h1 >Nenhum Resultado Encontrado</h1>
    </div>
    {% endif %}
{% endblock %}