{% extends "base.html" %}

{% block resultado %}

{% if existe_arquivo %}    
     <div class="page-header">
        <h1>Resultado</h1>
        <hr/>
    </div>
        {% for row in arquivos_rows %}
            {% if row %}
            <div class="row">
                {% for arquivo in row %}
                        {% if current_user == arquivo.author %}
                            <div class="modal" tabindex="-1" role="dialog" id="del_confirm{{arquivo.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Deletar Arquivo?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Você tem certeza que deja deletar esse arquivo?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>                 
                                        <a data-toggle="tooltip" data-placement="top" title="Deletar Permanentemente" href="{{ url_for('arquivos.excluir', arq_id=arquivo.id) }} "> <img class="img-responsive deletar" src="{{url_for('static', filename='images/icones/padrao/delete_arquivo.svg')}}" alt="Deletar"/> </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                            <div class="modal" tabindex="-1" role="dialog" id="confirm{{arquivo.id}}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title text-center">Informações do Arquivo</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="modal-title">Observações do usuário:</h5>
                                            <h5><p class="text-center">{{ arquivo.observacao }}</p></h6>
                                            <br/>

                                            <h5 class="modal-title">Referências:</h5>
                                            <p>Usuáario que postou: <a href="{{url_for('usuarios.usuario', user_id=arquivo.author.id)}}"> {{ arquivo.author.username }}</a></p>
                                            <p>Professor de referência: {{ arquivo.professor.nome }}</p>
                                            <p>Diciplina de referência: {{ arquivo.disciplina.nome }}</p>
                                            <p>Ano de referência: {{ arquivo.ano }}</p>
                                            <p>Semestre de referência: {{ arquivo.ano }}</p>
                                            <br/>

                                            <h5 class="modal-title">Sobre o Arquivo:</h5>
                                            <br/>
                                                <p>
                                                
                                                <a href="{{ url_for('arquivos.buscar',
                                                 filtro=3, admin='nao', pesquisa='nao', tip_arquiv=arquivo.tipo_conteudo) }}?page=1"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.tipo_conteudo}}" src="{{url_for('static', filename='images/icones/conteudo/'+arquivo.tipo_conteudo+'.svg')}}" alt="{{arquivo.tipo_conteudo}}."></a>
                                                
                                                <a href="#"><img src="{{url_for('static', filename='images/icones/arquivo/'+arquivo.extensao+'.svg')}}" data-toggle="tooltip" data-placement="bottom" title="Arquivo {{arquivo.extensao}}" class="image marcas" alt="Tipo de arquivo é {{arquivo.extensao}}"></a>

                                                <a href="{{url_for('usuarios.usuario', user_id=arquivo.author.id)}}"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.author.username}}" src="{{url_for('static', filename='images/icones/padrao/user.svg')}}" alt="Username"></a>

                                            </p>
                                            <br/>
                                            <p>Data de referência: {{ arquivo.data_submissao.strftime('%B %d, %Y') }}</p>
                                            <br/>
                                        </div>
                                        <div class="modal-footer">
                                            
                                            <a data-toggle="tooltip" data-placement="top" title="Cancelar" href="#" data-dismiss="modal"><img class="img-responsive cancel" src="{{url_for('static', filename='images/icones/padrao/cancel.svg')}}" alt="Cancelar"/></a>

                                            {% if current_user == arquivo.author%}

                                                <a href="{{ url_for('arquivos.editar', arq_id=arquivo.id) }}" ><img class="img-responsive" data-toggle="tooltip" data-placement="top" title="Editar" src="{{url_for('static', filename='images/icones/padrao/editar.svg')}}" alt="Editar"/></a>
                                                
                                                
                                                <a data-dismiss="modal" data-toggle="modal" href="{{ url_for('arquivos.excluir', arq_id=arquivo.id) }}" data-target="#del_confirm{{arquivo.id}}"><img class="img-responsive deletar" data-toggle="tooltip" data-placement="top" title="Deletar" src="{{url_for('static', filename='images/icones/padrao/delete_arquivo.svg')}}" alt="Deletar"/></a>

                                            {% endif %}
                                            
                                            <a  href="{{ url_for('static', filename='uploads/' + arquivo.arquivo + '.zip') }}"><img class="img-responsive" data-toggle="tooltip" data-placement="top" title="Download" src="{{url_for('static', filename='images/icones/padrao/downloads.svg')}}" alt="Download"/></a>
                                        
                                        </div>
                                        </div>
                                    </div>
                                </div>

            <div class="col-lg-3 col-6"> 
                <div class="dist card">
                  <div class="card-body">
                    <h4 style="font-family: sans-serif;" class="card-title text-center text-truncate">{{arquivo.disciplina.nome}}</h4>
                    <p class="card-text">
                        
                        <a href="{{ url_for('arquivos.buscar', filtro=3, admin='nao', pesquisa='nao', tip_arquiv=arquivo.tipo_conteudo) }}?page=1"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.tipo_conteudo}}" src="{{url_for('static', filename='images/icones/conteudo/'+arquivo.tipo_conteudo+'.svg')}}" alt="{{arquivo.tipo_conteudo}}."></a>
                        
                        <a href="#"><img src="{{url_for('static', filename='images/icones/arquivo/'+arquivo.extensao+'.svg')}}" data-toggle="tooltip" data-placement="bottom" title="Arquivo {{arquivo.extensao}}" class="image marcas" alt="Tipo de arquivo é {{arquivo.extensao}}"></a>

                   
                        <a class="sumiras" href="{{url_for('usuarios.usuario', user_id=arquivo.author.id)}}"><img class="img-responsive image marcas" data-toggle="tooltip" data-placement="bottom" title="{{arquivo.author.username}}" src="{{url_for('static', filename='images/icones/padrao/user.svg')}}" alt="Username"></a>
                  

                    </p>
                    <h5><p class="card-text text-truncate"><a data-toggle="tooltip" data-placement="top" title="{{arquivo.observacoes}}">{{arquivo.observacoes}}</a></p></h5>

                    <a href="#" data-toggle="modal" data-target="#confirm{{arquivo.id}}" class="card-link"><img class="img-responsive info" data-toggle="tooltip" data-placement="bottom" title="Mais Informações" src="{{url_for('static', filename='images/icones/padrao/info.svg')}}" alt="mais"></a>

                    <a  href="{{ url_for('static', filename='uploads/' + arquivo.arquivo + '.zip') }}"><img class="img-responsive download" data-toggle="tooltip" data-placement="top" title="Download" src="{{url_for('static', filename='images/icones/padrao/downloads.svg')}}" alt="Download"/></a>

                  </div>
                </div>
              </div>


                    
                    {% endfor %}
                </div><!--Fim row-->
            {% endif %}
        {% endfor %}
<br/>
      <nav style="position: static;" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% for page_num in arquivos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if arquivos.page == page_num and page_num %}
                        <li class="page-item disabled">
                            {% if not navigation_data[0] %}
                                <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num) }}">{{ page_num }}</a></li>
                            {% else %}
                                <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num, filtro=navigation_data[0], admin=navigation_data[1], pesquisa=navigation_data[2], tip_arquiv=navigation_data[3]) }}">{{ page_num }}</a></li>
                            {% endif %}
                        </li>
                    {% elif page_num %}
                        <li class="page-item">
                            {% if not navigation_data[0] %}
                                <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num) }}">{{ page_num }}</a></li>
                            {% else %}
                                <a class="page-link" href="{{ url_for('arquivos.buscar', page=page_num, filtro=navigation_data[0], admin=navigation_data[1], pesquisa=navigation_data[2], tip_arquiv=navigation_data[3]) }}">{{ page_num }}</a></li>
                            {% endif %}
                        </li>
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>     
  {% else %}
  <br/>
  <div class="text-center">
    <h1 >Nenhum Resultado Encontrado</h1>
  </div>
  {% endif %}
  {% endblock %}