{% extends "base.html" %}

{% block resultado %}

<p style="margin-bottom: 15px;">
<strong>Disciplina</strong>: texto;
<strong>Material</strong>: texto;
<strong>Professor</strong>: texto.
</p>
<div class="container-fluid">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Ano</th>
                <th>Tipo</th>
                <th>Professor</th>
                <th>Observações</th>
                <th>Download</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>texto</td>
                <td>texto</td>
                <td>texto</td>
                <td>texto</td>
                <td>texto</td>
                <td><a href="#" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span></a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
